@media only screen and (min-width: 641px) {
	#post-536 > div.entry-content > div > div.wpb_column.vc_column_container.vc_col-sm-8 {
		padding: 4em;
	}
	#post-536 > div.entry-content > div > div.wpb_column.vc_column_container.vc_col-sm-4 {
		padding: 4em 4em 0 2em;
	}
	#gform_2 > div.gform_heading > span {
		width: calc(60% - 16px);
		margin-bottom: -5em;
	}
	#field_2_16 {
		float: right;
		margin-right: 1em;
	}
	#gform_2 > div.gform_footer.top_label {
		margin-left: 0;
		margin-top: 1em;
	}
	#gform_submit_button_2 {
		width: 100%;
	}
	#gform_2 > div.gform_heading > h3 {
		font-weight: 700;
		line-height: .75;
		padding-top: 1em;
		font-size: 2.5em;
		color: #243F7D;
	}
	#gform_fields_2.gform_wrapper form li, .gform_wrapper li {
		padding-top: 1.5em;
	}
}